In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
#read the dataset
data = pd.read_csv('1.02. Multiple linear regression.csv')
data.head(10)

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83
5  1670           1  2.91
6  1764           2  3.00
7  1764           1  3.00
8  1792           2  3.01
9  1850           3  3.01

In [3]:
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

In [4]:
#declare the dependent and independent variable
y = data['GPA']
x = data[['SAT','Rand 1,2,3']]

In [5]:
reg = LinearRegression()

In [6]:
reg.fit(x,y)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [7]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [8]:
reg.intercept_

0.2960326126490962

In [9]:
reg.score(x,y)

0.40668119528142815

### Formula for Adjusted R square (R^2)
$R^2_{adj} = 1-(1-R^2)*\frac{n-1}{n-p-1}$

In [10]:
#n = number of observation or (84 total count)
#p = predictive values (SAT score and Random 1,2,3)

In [11]:
r_value = reg.score(x,y)
r_value

0.40668119528142815

In [12]:
x.shape

(84, 2)

In [13]:
r2 = reg.score(x,y)
n = x.shape[0]
p = x.shape[1]
adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
adjusted_r2

0.39203134825134

In [14]:
#Calculate the R square

In [15]:
r2 = reg.score(x,y)
n = x.shape[0]
p = x.shape[1]

adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
adjusted_r2

0.39203134825134

In [16]:
#one will predict GPA with SAT
#one will predict GPA with round 1,2,3

### F- Regression Feature Selection

In [17]:
from sklearn.feature_selection import f_regression

In [18]:
f_regression(x,y)

(array([56.04804786,  0.17558437]), array([7.19951844e-11, 6.76291372e-01]))

In [20]:
p_value = f_regression(x,y)[1]
p_value

array([7.19951844e-11, 6.76291372e-01])

In [25]:
exact_p_value = p_value.round(2)
exact_p_value

#array([0.  , 0.68])
#The p value is 0 for SAT and 0.676 for Round 1,2,3
#which predicts that SAT is useful and Round 1,2,3 is not useful (p value <0.5 is useful only)

array([0.  , 0.68])

### creating a summary table

In [28]:
reg_summary = pd.DataFrame(data = x.columns.values,columns=['Features'])
reg_summary

     Features
0         SAT
1  Rand 1,2,3

In [31]:
reg_summary['coefficient'] = reg.coef_
reg_summary['p_value'] = p_value.round(3)

In [32]:
reg_summary

     Features  coefficient  p_value
0         SAT     0.001654    0.000
1  Rand 1,2,3    -0.008270    0.676