In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
from sklearn.preprocessing import FunctionTransformer,StandardScaler

In [5]:
data = pd.read_csv('/Users/sahilnagpal/Desktop/Python/DataScience/Data-Science/DataScienceCourse/Scipy/Multiple_Linear_Regression/1.02. Multiple linear regression.csv')

In [6]:
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [7]:
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

In [8]:
##create x and y or dependent and independent variables

x = data[['SAT','Rand 1,2,3']]
y = data['GPA']

In [9]:
scaler = StandardScaler()

In [10]:
scaler.fit(x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [11]:
x_scaled = scaler.transform(x)

In [20]:
#regression with scaled features
reg = LinearRegression()

reg.fit(x_scaled,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
reg.score(x_scaled,y)

0.4066811952814283

In [22]:
reg.coef_

array([ 0.17181389, -0.00703007])

In [23]:
reg.intercept_

3.330238095238095

In [28]:
#creating the summary table

summary = pd.DataFrame([['Bias'],['SAT'],['Rand 1,2,3']],columns=['features'])
summary['Weight'] = reg.intercept_,reg.coef_[0],reg.coef_[1]

In [29]:
summary

     features    Weight
0        Bias  3.330238
1         SAT  0.171814
2  Rand 1,2,3 -0.007030

In [31]:
#predict with sample data

new_data = pd.DataFrame([[1700,2],[1800,1]],columns=['SAT','Rand 1,2,3'])
new_data

    SAT  Rand 1,2,3
0  1700           2
1  1800           1

In [32]:
scaled_new_data = scaler.transform(new_data)
scaled_new_data

array([[-1.39811928, -0.07002087],
       [-0.43571643, -1.24637147]])

In [33]:
reg.predict(scaled_new_data)

array([3.09051403, 3.26413803])